

hr{
  height: 10px;
  background: blue;
}

#kupido-logo{
  /* color: black; */
  text-shadow: 2px 2px 5px black;
  font-size: 70px;
  max-width: 400px;
  /* text-align: center; */
  margin: 40px;
}

#nav1{
  text-align: center;
  position: relative;
  top: 75px;
}
