*{
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

/*hr{
  height: 10px;
  background: blue;
}

#kupido-logo{
  text-shadow: 2px 2px 5px black;
  font-size: 70px;
  max-width: 400px;
  margin: 40px;
}

#nav1{
  text-align: center;
  position: relative;
  top: 75px;
}

.coolButton{
  display: inline-block;
  color: orange;
}

#navigation{
  border: 2px solid white;
}*/
